<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <meta charset="utf-8"
          name="viewport" 
          content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <ul>
    <% @moods.each do |mood| %>
      <li><%=mood[:mood]; Time.at(mood[:time]).strftime('%m-%d %H:%M')%></li>
    <% end %>
  </ul>
<html>
